@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;

}
.page-header{
    text-align: center;
}
.spinner {
    z-index: 100;
    width: 30px;
    height: 30px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

#reportrange {
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    text-align: center;
    width: 350px;
}

.chart{
  margin-bottom: 50px;
}

blockquote{
        margin: 30px 0px 20px 0px;
}

#act-display{
    display: table;
}
.input-group {
    float: left;
    margin-right: 20px;
}

div > div.input-group {
    width: 320px;
}

#customControls {
    display: inline-flex;
}

@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
